<section class="orders light-section">
<div class="container mx-auto mt-12">
    <h1 class="font-bold text-lg mb-4">All Orders!</h1>
    <% if(messages.success) { %>
    <div id="success-alert" class="flex item-center bg-green-500 text-white text-sm font-bold px-4 py-4" role="alert">
     <p><%=messages.success %></p>
    </div>
    <% } %>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Orders
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone_Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Time
                </th>
            </tr>
        </thead>
        <tbody>
            <% if(orders.length) { %>

                <% orders.forEach((order)=>{ %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                           <a class="link font-bold" href=" /customer/orders/<%=order._id %>"><%= order._id %></a> 
                        </th>
                        <td class="px-6 py-4">
                            <%= order.address %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order. phone %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order.updatedAt %>
                        </td>
                    </tr>
               <% })%>
           
        <% }else {%>
            
            <div id="success-alert" class="flex item-center bg-red-500 text-white text-sm font-bold px-4 py-4" role="alert">
                <p>No order has been Placed!</p>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                       <a >NULL</a> 
                    </th>
                    <td class="px-6 py-4">
                        NULL
                    </td>
                    <td class="px-6 py-4">
                        NULL
                    </td>
                </tr>
               </div>
            <% } %>
        </tbody>
    </table>
</div>

</div>
</section>